@import '~antd/es/style/themes/default.less';
@import '~css.gg/icons/all.css';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  .ant-pro-basicLayout-has-header {
    margin: 24px;
  }
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

.page-container {
  position: relative;

  .ant-layout-header {
    background-color: inherit;
  }
}

.full-height {
  height: 100%;
}

.ant-pro-table-column-setting-list-title {
  padding: 0 16px;
}

.ant-pro-sider.ant-pro-sider-fixed {
  position: fixed;
}

h4.ant-typography {
  font-size: 18px !important;
}

.ant-pro-global-header-layout-mix {
  background-image: linear-gradient(125deg, #002766 20%, #0050b3 20%) !important;
}
