.home {
  min-height: 100vh !important;

  .header {
    position: relative;
    background: #262f3e;
    background: -webkit-linear-gradient(to right, #262f3e, #536976);
    background: linear-gradient(to right, #262f3e, #536976);

    color: #fff;
    box-shadow: 0 2px 8px #f0f1f2;
    font-weight: bolder;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

    .title {
      color: #fff;
      height: 32px;
      line-height: 32px;
      margin-bottom: 0;
      font-size: 18px;
      font-weight: 600;
    }

    .left {
      display: flex;
      align-items: center;

      h1 {
        margin: 0 0 0 12px;
      }
    }

    .right {
      position: absolute;
      right: 40px;
      display: flex;
      align-items: center;
    }

    .logo {
      width: 35px;
      height: 35px;
    }
  }

  .ant-card-body {
    padding: 0;
    min-height: 240px;
  }

  .help-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
  }

  .content {
    margin: 48px auto;
    width: 90%;
    max-width: 850px;

    .empty-tip {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
  }

  .project {
    &-cards {
      display: grid;
      gap: 40px;
      grid-template-columns: repeat(auto-fill, 180px);
      margin-bottom: 60px;
    }

    &-desc {
      max-width: 100px;
      height: 30px;
    }

    &-logo {
      background-color: #262f3e;
      color: rgb(255, 255, 255);
      font-size: 32px;
      line-height: 80px;
      text-align: center;
      font-weight: 600;
      width: 80px;
      height: 80px;
      min-height: 80px;
      min-width: 80px;
      display: block;
      border-radius: 8px;
    }
  }
}
