.bg-white {
    background-color: #fff;
}

.page-container {
    .card-left {
        height: calc(100vh - 96px);
        overflow: auto;

        .ant-pro-card-body {
            padding: 0;
        }
    }

    .schema-layout {
        height: calc(100vh - 96px);
        padding: 0 30px;
        overflow: auto;

        .ant-pro-card-body {
            height: 100%;
        }

        &-header {
            padding: 24px 0 12px 0;
        }

        &-content {
            margin-right: 10px;
        }
    }

    .schema-sider {
        overflow: auto;
        padding-right: 10px;
        height: calc(100vh - 96px);

        &-header {
            padding: 24px 0 12px 0;
        }

        .field-card {
            font-size: 14px;
            margin: 10px 0 10px 0;
            cursor: pointer;
            box-shadow: 0px 2px 4px #f0f0f0;
            padding: 4px 8px;
            border-radius: 5px;

            .ant-list-item {
                padding: 0;
            }
        }
    }
}

.schema-loading {
    display: flex;
    justify-content: center;
}

.schema-empty {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.schema-field-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;

    &:nth-child(odd) {
        .icon {
            color: #5f19dd;
        }
    }

    &:nth-child(even) {
        .icon {
            color: #01a4fd;
        }
    }

    .flex-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .ant-card-body {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        --ggs: 1.8;
    }
}
