.page-container {
  position: relative;

  .ant-pro-table-toolbar {
    padding-left: 0;
  }

  .ant-pro-table-search {
    padding: 0;
  }

  .left-card {
    padding-top: 10px;

    .ant-pro-card-body {
      padding: 0;
    }
  }

  .content-empty {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .table-title {
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #f0f0f0;

    &-container {
      margin-bottom: 15px;
    }
  }
}
